* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #333;
	font-family: 'Montserrat', sans-serif;

	display: flex;
	flex-direction: column;
	gap: 10rem;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
p {
	font-size: 60px;
}
.box {
	height: 60%;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	gap: 2rem;
	background: linear-gradient(120deg, rgb(137, 18, 192), rgb(7, 189, 7));
	box-shadow: 5px 5px 15px #000, -5px -5px 15px #000;
}
.red,
.green,
.blue {
	appearance: none;
	height: 20px;
	width: 80%;
	border-radius: 15px;
	background: linear-gradient(to right, rgb(0, 181, 253), rgb(238, 234, 3));
	opacity: 0.8;
	transition: opacity 0.3s, transform 0.3s;
	cursor: pointer;
	box-shadow: inset 2px 2px 5px;
}

.red:hover,
.blue:hover,
.green:hover {
	opacity: 1;
	transform: scale(1.05);
}
.main-input {
	padding: 20px 40px;
	font-size: 14px;
	background-color: #333;
	color: #ebebeb;
	text-align: center;
	border: none;
	cursor:text;
	border-radius: 10px;
}
.red::-moz-range-thumb,
.blue::-moz-range-thumb,
.green::-moz-range-thumb {
	height: 30px;
	width: 30px;
	border-radius: 50%;
}
input::-webkit-slider-thumb {
	appearance: none;
	height: 30px;
	width: 30px;
	background-color: #fff;
	border-radius: 50%;
}

h1 {
	font-size: 25px;
	margin-bottom: 40px;
}
@media (min-width: 996px) {
	.box {
		height: 70%;
		gap: 3rem;
		width: 25%;
	}
	.main-input {
		padding: 20px 40px;
		font-size: 20px;
	}
	h1 {
		font-size: 40px;
		margin-bottom: 60px;
	}
}
